<div class="index-page">
  <h1 class="show-header"> Events You Belong To </h1>

  <div class="groups-list">
    <% if @events.empty? %>
      You do not currently belong to any events.
    <% else %>
    <% @events.each do |event| %>
      <ul class="list-item"> <%= link_to event.name, event %></ul><br>
    <% end %>
  <% end %>
  </div>
</div>
