<div class="index-page">
  <h2 class="show-header"><%= @event.name %></h2>
  <div class="group-members">
     <h4>Group Members</h4>
     <ul>
       <% @event.users.each do |user| %>
       <li><%= user.name %></li>
       <% end %>
      </ul>

     <%= link_to "Invite New User to Event", new_invite_path, class:"generic-buttons" %>
     <%= link_to "Leave This Event", '/event_members/destroy', method: :delete, class:"generic-buttons" %>
  </div>
</div>
